// main visual
.mainvisual{
  background-image: url(../images/EH_MV.webp);
  background-size: cover;
  background-position: left top;
  color:$bgc-white;
  @include sp{
    background-position: 60% top;
  }
}
.mv__inner-mask{
  padding: 500px 40px 120px;
  width: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.80) 0.24%, rgba(102, 102, 102, 0.10) 99.34%);
  @include sp{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.80) 0.24%, rgba(36, 36, 36, 0.40) 99.34%);
    padding: 400px 20px 64px;
  }
}
.mv__ttl{
  font-size: 56px;
  line-height: 1.25;
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: 0.08em;
  @include sp{
    font-size: 32px;
  }
}
.mv__caption{
  max-width: 640px;
  font-size: 20px;
  letter-spacing: 0.08em;
  @include sp{
    font-size: 16px;
  }
}
.mv__btn{
  display: flex;
  gap: 24px;
  @include sp{
    gap: 24px;
    flex-wrap: wrap;
  }
}
// main visual end

// about
.about{
  padding: 40px 40px;
  background-color: $BgGreen;
  color: $TextDef;
  position: relative;
  z-index: 0;
  @include sp{
    padding: 40px 20px 64px;
  }
  .inner--large{
    position: relative;
  }
}

.about__card-icon{
  width: 64px;
  height: 64px;
  margin:0 auto 16px;
  display: block;
  @include sp{
    width: 48px;
    height: 48px;
  }
}
.about__card-ttl{
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1;
  margin-bottom: 16px;
  text-align: center;
}
.about__card-caption{
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.02em;
  font-weight: 400;
  @include sp{
    margin-bottom: 8px;
    font-size: 14px;
  }
}
.about__card-list{
  li{
    font-size: 16px;
    letter-spacing: 0.02em;
    font-weight: 400;
    margin-bottom: 12px;
    @include sp{
      font-size: 14px;
    }
    img{
      width: 24px;
      height: 24px;
      vertical-align: middle;
      margin-right: 4px;
    }
  }
}
// about end

// sell
.sell{
  position: relative;
  padding: 40px 40px 64px;
  background-color: $BgGreen;
  z-index: 0;
  @include sp{
    padding: 20px 20px;
  }
  .inner--large{
    position: relative;
  }
}
.sell__half-circle{
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 360px;
  height: 360px;
  background-color: $Primary100;
  border-radius:100% 0 0 0;
  z-index: -2;
  @include sp{
    width: 240px;
    height: 240px;
  }
}
.sell__list{
  margin-bottom: 40px;
  li{
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 16px;
    img{
      width: 32px;
      height: 32px;
      @include sp{
        width: 24px;
        height: 24px;
      }
    }
    span{
      font-size: 20px;
      letter-spacing: 0.02em;
      @include sp{
        font-size: 16px;
      }
    }
  }
}
// sell end

// purchase
.purchase{
  padding: 40px 40px 64px;
  background-color: $BgGreen;
  z-index: 0;
  position: relative;
  @include sp{
    padding: 20px 20px 40px;
  }
  .inner--large{
    position: relative;
  }
}
.purc__card-cont{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-bottom: 40px;
  @include sp{
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    margin-bottom: 24px;
  }
}
.purc__card-ttl{
  font-size: 24px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  margin-bottom: 12px;
  @include sp{
    font-size: 16px;
  }
}
.purc__card-list{
  margin-bottom: 16px;
  @include sp{
    margin-bottom: 8px;
  }
  li{
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 16px;
    margin-bottom: 8px;
    @include sp{
      font-size: 14px;
    }
    img{
      width: 32px;
      height: 32px;
      @include sp{
        width: 24px;
        height: 24px;
      }
    }
  }
}
.purc__card-subttl{
  font-size: 20px;
  display: flex;
  align-items: center;
  gap:8px;
  letter-spacing: 0.02em;
  @include sp{
    font-size: 16px;
  }
  img{
    width: 32px;
    height: 32px;
    @include sp{
      width: 24px;
      height: 24px;
    }
  }
}
.purc__card-caption{
  font-size: 16px;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  @include sp{
    font-size: 14px;
    margin-bottom: 12px;
  }
}

.purc__square-circle01{
  position: absolute;
  top: 0px;
  right: 0;
  width: 360px;
  height: 360px;
  background-color: $Primary100;
  border-radius: 0 0 0 100%;
  z-index: -2;
  @include sp{
    width: 240px;
    height: 240px;
  }
}
.purc__square-circle02{
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 280px;
  height: 280px;
  background-color: $Primary100;
  border-radius: 0 100% 0 0;
  z-index: -2;
  @include sp{
    width: 200px;
    height: 200px;
  }
}
// purchase end

// mission
.mission{
  padding: 40px 40px 64px;
  background-color: $BgGreen;
  position: relative;
  z-index: 0;
  @include sp{
    padding: 40px 20px;
  }
  .inner--large{
    position: relative;
  }
}
.miss__cont{
  display: flex;
  margin-bottom: 24px;
  gap: 40px;
  justify-content: space-between;
  @include sp{
    flex-wrap: wrap;
  }
}
.miss__number{
  font-family: 'Caveat';
  font-size: 48px;
  letter-spacing: 0.08em;
  line-height: 1;
  color: $Primary500;
}
.miss__cont-img{
  max-width: calc(30% - 20px);
  width: 100%;
  height: auto;
  display: block;
  box-shadow: 0 8px 12px 6px rgba(0, 0, 0, 0.15), 0 4px 4px 0 rgba(0, 0, 0, 0.30);
  border-radius: 12px;
  transform: rotate(8deg);
  @include sp{
    max-width: 80%;
    margin:0 auto ;
  }
}
.miss__cont-text{
  max-width: 640px;
  width: calc(70% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include sp{
    width: 100%;
  }
}
.miss__cont-ttl{
  font-size: 32px;
  margin-bottom: 12px;
  @include sp{
    font-size: 20px;
    margin-bottom: 8px;
  }
  img{
    width: 32px;
    height: 32px;
    margin-right: 8px;
    vertical-align: middle;
    @include sp{
      width: 24px;
      height: 24px;
    }
  }
}
.miss__cont-caption{
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 2;
  @include sp{
    font-size: 14px;
  }
}

.miss__square-circle{
  position: absolute;
  bottom: 0px;
  left: 100px;
  width: 400px;
  height: 240px;
  background-color: $Primary100;
  border-radius: 0 100vh 0 0;
  z-index: -2;
  @include sp{
    width: 300px;
    height: 300px;
    left: 0;
  }
}
// mission end

// question
.question{
  padding: 40px 40px 64px;
  background-color: $BgGreen;
  position: relative;
  z-index:0;
  @include sp{
    padding: 40px 20px;
  }
  .inner--large{
    position: relative;
  }
}
.ques__square-circle{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  height: 100%;
  background-color: $Primary100;
  border-radius: 100% 0 0 0;
  z-index: -2;   
}
.ques__card{
  background-color: $BgWhite;
  border: 1px solid $BorderDef;
  border-radius: 12px;
  margin-bottom: 24px;
  padding: 20px;
  max-width: 880px;
  margin:0 auto 24px;
  position: relative;
  @include sp{
    padding: 16px;
  }
  &:last-child{
    margin-bottom: 0;
  }
}
.ques__card-row{
  position: relative;
}
.ques__card-ttl{
  font-size: 16px;
  letter-spacing: 0.02em;
  @include sp{
    font-size: 14px;
  }
}
.capital{
  font-size: 28px;
  letter-spacing: 0.02em;
  line-height: 1;
  font-weight: bold;
  color: $Primary500;
  margin-right: 8px;
  @include sp{
    font-size: 20px;
  }
}
.ques__card-caption{
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 2;
  font-weight: 400;
  margin-top: 8px;
  @include sp{
    // display: none;
    font-size: 14px;
  }
}

.ques__card-btn{
  // top: 50%;
  // transform: translateY(-50%);
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  background-color:$Primary500;
  border-radius: 50%;
  display: flex;
  align-items: center;
  position: absolute;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: none;
  @include sp{
    // display: block;
  }
}

.ques__card-btn::before,
.ques__card-btn::after {
  content: "";
  position: absolute;
  background-color: $bgc_white;
  transition: all 0.3s ease-in-out;
}

.ques__card-btn::before {
  width: 60%;
  height: 3px;
  top: 21px;
  left: 9px;
}

.ques__card-btn::after {
  width: 3px;
  height: 60%;
  top:  9px;
  left: 21px;
}

.turn.ques__card-btn::before,
.turn.ques__card-btn::after {
  -webkit-transform: translateY(0) rotate(135deg);
  -ms-transform: translateY(0) rotate(135deg);
  transform: translateY(0) rotate(135deg);
}
// question end

// information
.information{
  background-color: $BgGreen;
  padding: 40px 40px 64px;
  z-index: 0;
  position: relative;
  padding: 40px 20px;
  .inner--large{
    position: relative;
  }
}
.info__cont{
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  @include sp{
    flex-wrap: wrap;
    gap: 24px;
  }
}
.info__map{
  width: calc(50% - 20px);
  height: 350px;
  @include sp{
    width: 100%;
    height: 300px;
  }
}
.info__list{
  width: calc(50% - 20px);
  @include sp{
    width: 100%;
  }
}
.info__list-row{
  display: grid;
  grid-template-columns: 3fr 7fr;
  margin-bottom: 16px;
}
.info__list-ttl{
  font-size: 16px;
  letter-spacing: 0.02em;
  @include sp{
    font-size: 14px;
  }
}
.info__list-detail{
  font-size: 16px;
  letter-spacing: 0.02em;
  @include sp{
    font-size: 14px;
  }
}
// information end

// アニメーション
.fadein {
  opacity: 0; 
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.fadein.show{
  opacity: 1;
  transform: translateY(0);
}

.scroll-fadein {
  opacity: 0; 
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.scroll-fadein.show{
  opacity: 1;
  transform: translateY(0);
}

// 汎用マージン
.mb0{
  margin-bottom: 0;
}
.mb24{
  margin-bottom: 24px;
}
.mb40{
  margin-bottom: 40px;
  @include sp{
    margin-bottom: 24px;
  }
}
.mb48{
  margin-bottom: 48px;
}
.mb64{
  margin-bottom: 64px;
  @include sp{
    margin-bottom: 40px;
  }
}

// その他
.order1{
  @include sp{
    order: 1;
  }
  
}
.order2{
  @include sp{
    order: 2;
  }
}