/*
    footer
*/
.footer{
    background-color: #06240d;
    padding: 40px 40px 64px;
    color: $TextInverse;
    @include sp{
        padding: 40px 20px;
    }
}
.footer__cont{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-bottom: 40px;
    @include sp{
        gap: 24px;
        grid-template-columns: repeat(1, 1fr);
    }
}
.footer__info{
    @include sp{
        width: 100%;
    }
}
.footer__info-logo{
    @include sp{
        width: 170px;
    }
    img{
        max-width: 200px;
        width: 100%;
        height: auto;
    }
}
.footer__nav-list{
    li{
        margin-bottom: 16px;
        a{
            color: $TextInverse;
            transition: all 0.3s ease-in-out;
            border-bottom: 1px solid transparent;
            padding: 12px 0;
            font-size: 16px;
            letter-spacing: 0.02em;
            &:hover{
                border-bottom: 1px solid $TextInverse;
            }
        }
    }
}
.footer__copy{
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.1em;
    line-height: 1;
}
// footer end