// selling
.selling{
  padding: 140px 40px 40px;
  background-color: $BgGreen;
  color: $TextDef;
  @include sp{
    padding: 100px 20px 40px;
  }
}
.selling__head3{
  font-size: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 12px;
  @include sp{
    font-size: 20px;
  }
}
.selling__cate-item{
  display: flex;
  margin-bottom: 48px;
  justify-content: space-between;
  position: relative;
  gap: 40px;
  @include sp{
    flex-wrap: wrap;
    margin-bottom: 40px;
    justify-content: center;
    gap: 20px;
  }
  &:last-child{
    margin-bottom: 0;
  }
}
.selling__cate-box{
  width: 280px;
  height: 280px;
  transform: rotate(8deg);
  background-color: $Primary100;
  border-radius: 12px;
  position: absolute;
  top: 0;
  z-index: 0;
  @include tab{
    width: 240px;
    height: 240px;
  }
  @include sp{
    bottom: 0;
    top: auto;
  }
}
.selling__cate-img{
  max-width: 280px;
  width: 100%;
  height: auto;
  @include tab{
    max-width: 240px;
  }

  img{
    position: relative;
    width: 100%;
    height: auto;
    box-shadow: 0 6px 10px 4px rgba(0, 0, 0, 0.15), 0 2px 3px 0 rgba(0, 0, 0, 0.30);
    border-radius: 12px;
    display: block;
    transform: rotate(-8deg);
    z-index: 1;
  }
}

.selling__cate-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 640px;
  width: 100%;
}
.selling__cate-label{
  font-family: 'Caveat';
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.08em;
  line-height: 1;
  margin-bottom: 12px;
  color: $Primary500;
  @include sp{
    font-size: 20px;
    margin-bottom: 8px;
  }
}
.selling__cate-ttl{
  font-size: 24px;
  margin-bottom: 16px;
  @include tab{
    font-size: 20px;
  }
  @include sp{
    font-size: 16px;
    margin-bottom: 8px;
  }
}
.selling__cate-list{
  li{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-size: 16px;
    letter-spacing: 0.02em;
    gap:8px;
    @include sp{
      font-size: 14px;
      margin-bottom: 8px;
    }
    img{
      width: 32px;
      height: 32px;
       @include sp{
        width: 24px;
        height: 24px;
       }
    }
  }
}
// selling end

// reason
.reason{
  padding: 20px 40px 64px;
  background-color: $BgGreen;
  color: $TextDef;
  position: relative;
  @include sp{
    padding: 40px 20px;
  }
}
.reason__list{
  margin-bottom: 40px;
  @include sp{
    margin-bottom: 20px;
  }
  li{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    letter-spacing: 0.08em;
    font-weight: bold;
    margin-bottom: 16px;
    @include tab{
      font-size: 14px;
      margin-bottom: 8px;
    }
    img{
      width: 40px;
      height: 40px;
      @include sp{
        width: 24px;
        height: 24px;
      }
    }
  }
}
.reason__caption{
  font-size: 16px;
  letter-spacing: 0.02em;
  @include sp{
    font-size: 14px;
  }
}
.reason__btn{
  margin: 0 auto;
}

.reason__square-circle{
  position: absolute;
  bottom: 0px;
  right: 100px;
  width: 400px;
  height: 200px;
  background-color: $Primary100;
  border-radius: 100vh 100vh 0 0;
  z-index: 0;
}


// reason end

// purchasing
.purchasing{
  padding: 140px 40px 20px;
  background-color: $BgGreen;
  color: $TextDef;
  @include sp{
    padding: 100px 20px 20px;
  }
  .inner--large{
    position: relative;
  }
}

.purchasing__target{
  padding: 40px 40px 64px;
  background-color: $BgGreen;
  color: $TextDef;
  position: relative;
  .inner--large{
    position: relative;
  }
  @include sp{
    padding: 20px;
  }
}
.purchasing__head3{
  font-size: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
  @include sp{
    font-size: 20px;
    margin-bottom: 12px;
  }
}
.purchasing__item-cont{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-bottom: 40px;
  @include sp{
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
// .purchasing__item{
  
// }
.purchasing__item-label{
  display: block;
  font-family: 'Caveat';
  font-size: 20px;
  letter-spacing: 0.08em;
  line-height: 1;
  color: $Primary500;
  font-weight: bold;
  margin-bottom: 8px;
}
.purchasing__item-ttl{
  font-size: 20px;
  margin-bottom: 8px;
  @include sp{
    font-size: 16px;
  }
}
.purchasing__item-list{
  li{
    display: flex;
    align-items: center;
    gap:8px;
    margin-bottom: 8px;
    img{
      width: 32px;
      height: 32px;
      @include sp{
        width: 24px;
        height: 24px;
      }
    }
  }
}

.purchasing__guide-text{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  @include sp{
    font-size: 14px;
  }
  img{
    width: 32px;
    height: 32px;
    @include sp{
      width: 24px;
      height: 24px;
    }
  }
}
.purchasing__target-guide{
  .primary-btn{
    margin:0 auto;
  }
}
.purchasing__circle01{
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 360px;
  height: 360px;
  background-color: $Primary100;
  border-radius:100% 0 0 0;
  z-index: 0;
  @include sp{
    width: 240px;
    height: 240px;
  }
}

// purchasing__process
.purchasing__process{
  padding: 40px 40px;
  background-color: $BgGreen;
  z-index: 0;
  .inner--large{
    position: relative;
  }
  @include sp{
    padding: 20px;
  }
}
.purchasing__process-cont{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  @include tab{
    grid-template-columns: repeat(2, 1fr);
  }
  @include sp{
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

.purchasing__process-number{
  color: $Primary500;
  letter-spacing: 0.08em;
  font-size: 20px;
  line-height: 1;
}
.purchasing__process-ttl{
  font-size: 20px;
  margin-bottom: 8px;
}
.purchasing__process-caption{
  font-weight: 400;
  margin-bottom: 8px;
}
.purchasing__process-list{
  li{
    margin-bottom: 8px;
    @include sp{
      font-size: 14px;
    }
    img{
      width: 32px;
      height: 32px;
      margin-right: 8px;
      vertical-align: middle;
      @include sp{
        width: 24px;
        height: 24px;
      }
    }
    span{
      font-weight: 400;
    }
  }
}
// purchasing end

// recruit
.recruit{
  padding: 108px 5% 64px;
  background-color: $bgc-green;
  color: $secondary-color;
}
.recruit__card-cont{
  margin-bottom: 48px;
}
.recruit__card{
  width: 45%;
  @include tab{
    width: 100%;
  }
}
.recruit__card-ttl{
  font-size: 20px;
  margin-bottom: 16px;
  img{
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-right: 8px;
  }
}
.recruit__card-list{
  li{
    margin-bottom: 8px;
  }
}
.recruit__flow-list{
  padding-left: 24px;
  padding-right: 24px;
  li{
    margin-bottom: 16px;
    font-size: 20px;
    @include sp{
      font-size: 16px;
    }
    span{
      color: $primary-color;
      font-size: 24px;
      margin-right: 8px;
      @include sp{
        font-size: 20px;
      }
    }
  }
}
// recruit end

// commingsson
.commingsoon{
  padding: 200px 5% 200px;
  background: $grdc;
  color: $bgc-white;
}
.comm__ttl{
  font-size: 40px;
  margin-bottom: 64px;
  text-align: center;
  @include tab{
    font-size: 32px;
    margin-bottom: 48px;
  }
  @include sp{
    font-size: 20px;
  }
  img{
    width: 80px;
    height: 80px;
    margin-right: 8px;
    vertical-align: top;
    @include tab{
      width: 64px;
      height: 64px;
    }
    @include sp{
      width: 48px;
      height: 48px;
    }
  }
}
.comm__caption{
  font-size: 20px;
  margin-bottom: 64px;
  text-align: center;
  @include tab{
    font-size: 16px;
  }
}
.comm__btn{
  margin: 0 auto;
}
// commingsson end


// contact
.contact{
  padding: 140px 40px 64px;
  background-color: #fff;
  color: $secondary-color;
  @include sp{
    padding: 100px 20px 0px;
  }
}
.contact__inner{
  max-width: 800px;
  margin:0 auto 40px;
}
.contact-form {
  color: $secondary-color;
  max-width: 800px;
  margin:0 auto 32px;
}

.form-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  @include sp{
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
  }
}

.form-row.full {
  flex-direction: column;
  align-items: flex-start;
  button{
    margin: 0 auto;
  }
}

label {
  width: 200px;
  font-weight: normal;
  padding-top: 10px;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: $secondary-color;
  @include sp{
    font-size: 14px;
    width: 100%;
  }
}

.required {
  color: #eb1d35;
  font-size: 14px;
  margin-left: 4px;
  @include sp{
    font-size: 12px;
  }
}

input[type="text"],
input[type="email"],
textarea {
  flex: 1;
  padding: 16px;
  font-size: 16px;
  background: #f7f7f7;
  border: none;
  border-radius: 8px;
  resize: vertical;
  color: $secondary-color;
  @include sp{
    font-size: 16px;
    width: 100%;
  }
}

textarea {
  min-height: 200px;
}

.consent {
  font-size: 14px;
  width: 100%;
  text-align: center;
  margin-bottom: 16px;
  span{
    margin-left: 24px;
  }
}

.consent a {
  color: #3b82f6;
  text-decoration: underline;
}

button {
  background: $primary-color;
  color: white;
  padding: 14px 24px;
  font-size: 16px;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.3s;
  line-height: 1.5;
}


// 汎用マージン
.mb0{
  margin-bottom: 0;
}
.mb24{
  margin-bottom: 24px;
}
.mb40{
  margin-bottom: 40px;
  @include sp{
    margin-bottom: 20px;
  }
}
.mb48{
  margin-bottom: 48px;
  @include sp{
    margin-bottom: 24px;
  }
}
.mb64{
  margin-bottom: 64px;
  @include sp{
    margin-bottom: 40px;
  }
}